body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

header {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(
    70deg,
    rgb(0, 81, 255),
    rgb(240, 103, 126),
    rgb(0, 255, 0)
  );
  margin-bottom: 1rem;
}

.header__logo {
  display: flex;
  align-items: center;
}

.header__logo__img {
  width: 3rem;
  height: 3rem;
}

.header__logo__text {
  font-size: 2rem;
  font-weight: 700;
  margin-left: 0.5rem;
  color: #ffffff;
}

.header__search__block {
  width: 20%;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 2rem;
  background-color: #ffffff;
  padding: 0.2rem;
}

.header__input {
  width: 80%;
  height: 90%;
  border: none;
  border-radius: 2rem;
}

.header__input:focus {
  outline: none;
}

.search__button {
  cursor: pointer;
  border: none;
  border-radius: 50%;
  background-color: #ffffff;
}

.search__button i:hover {
  color: rgb(162, 163, 163);
}

.app {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  background: linear-gradient(70deg, rgb(31, 196, 147), rgb(185, 131, 140), rgb(210, 50, 197));
}

.app figure {
  width: 100%;
  height: 75%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app figure figcaption {
  font-size: 1rem;
  font-weight: 500;
  margin-top: 1rem;
}

.app figure img {
  width: 90%;
  height: 90%;
  object-fit: cover;
}
